@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
.klee-one-regular {
  font-family: "Klee One", cursive;
  font-weight: 400;
  font-style: normal;
}