a{
  text-decoration: none !important;
  position: relative;
  display: inline-block;
  transition: .3s;
  color:#2D9596;
}

a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: #d4dcda;
  transition: .2s;
  transform: translateX(-50%);
}

a:hover::after{
  width: 100%;
}

.new_post{
  background-color: #AAD7D9;
}

.info{
  color:#000000;
  background-color: #cecece;
}

.follow{
  background-color: #99ccff;
}

.followed{
  background-color: #fff;
  border-color: #cecece
}

.submit{
  background-color: #99ccff;
}

.devise{
  color: #344955;
  background-color: #AAD7D9;
}