<div class="col-md-8 offset-md-2 mt-3">
  <div class="row">
    <div class="col">
      <h4 class="mb-3"><i class="fa-solid fa-fire-flame-curved"></i> 会員一覧</h4>
      <% if @users.exists? %>
        <%= render 'user.index', users: @users %>
      <% else %>
        <p>※ユーザーはまだ登録されていません<p>
      <% end %>
    </div>
  </div>
</div>